@charset "UTF-8";
/* yellow Color #f1c40e RGB(241, 196, 14)|  Dark Color #efba00 RGB(239, 186, 0) */
.yellow .intro {
	background-color: #f1c40e;
}
.yellow .logo span{
	border-color: #f1c40e;
}
.yellow .menu a:hover{
	color: #f1c40e;
}
.yellow ::selection {
	background-color: #f1c40e;
	color: #fff;
}
.yellow #nav .current a{
	color: #f1c40e !important;
}
.yellow .spacer{
	background: rgba(241, 196, 14, 0.5);
}
.yellow .title-two, .yellow .title-full-two{
	color: #f1c40e;
}
.yellow .half-content a{
	color: #f1c40e;
}
.yellow .fun-icon{ 
	font-size: 60px;
    -webkit-text-fill-color: rgba(225,225,225,0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #f1c40e;
}
.yellow .p-two{
	background-color: #f1c40e;
}
.yellow .sl-ico{
	background-color: #f1c40e;
}
.yellow .folio-btn:hover{
	background: #f1c40e;
	color: #fff;
}
.yellow .ch-grid {
	background-color: #f1c40e;
}
.yellow .f-title-two{
	color: #f1c40e;
}
.yellow #sendMessage {
	background: #f1c40e;
}
.yellow #sendMessage:hover, .yellow .load-color  {
	background: #f1c40e !important
}
.yellow #contactForm #senderName:focus, 
.yellow #contactForm #senderEmail:focus, 
.yellow #contactForm #message:focus {
	border: 1px solid #f1c40e;
}
.yellow .s-media span:hover{
	color: #f1c40e;
	border-color: #f1c40e;
}
.yellow .scrollup {
	background: #f1c40e;
}
.yellow .progress-bar .skill-in {
  background-color: #f1c40e;
}
.yellow .car-prev-2, .yellow .car-next-2{
	background-color: #f1c40e;
}
.yellow .selected{
	border: 2px solid #efba00 !important; 
	background: #f1c40e !important;
}
.yellow .controller ul li:hover{
	border: 2px solid #f1c40e; 
	background: #f1c40e;
}
.yellow .classic-blog .post .date {
    border: 1px solid #f1c40e;
    color: #f1c40e;
}
.yellow .classic-blog .posts .format-wrapper {
    background-color: #f1c40e;
}
.yellow .classic-blog .post a.date:hover {
    background-color: #f1c40e;
}
.yellow .pagination ul > li > a,
.yellow .pagination ul > li > span {
    background: #f1c40e;
}
.yellow .pagination ul > li > a:hover,
.yellow .pagination ul > li > a:focus,
.yellow .pagination ul > .active > a,
.yellow .pagination ul > .active > span {
    background: #efba00;
}
.yellow .car-prev, .yellow .car-next{
	background-color: #f1c40e;
}
.yellow .controller-2 ul li:hover,.controller-3 ul li:hover{
	border: 2px solid #f1c40e; 
	background: #f1c40e;
}
.yellow #sendMessage:hover, .load-color  {
	background: #efba00 !important;
}
.yellow .my-button{
	background: #f1c40e;
}
.yellow .my-button a{
	color: #f7f7f7;
}
.yellow .my-button a:hover{
	color: #fff;
}
.yellow .my-button:hover{
	background: #efba00;
}
.yellow a:hover,
.yellow a:focus {
    color: #2e2e2e;
    text-decoration: none;
}
.yellow #nav2 > a{
	background:url("../../img/menu-icon-blk.png") no-repeat scroll 0 0 rgba(239, 186, 0, 100);
}