vti_encoding:SR|utf8-nl
vti_author:SR|CRYSTALTECH\\triciaj
vti_modifiedby:SR|CRYSTALTECH\\triciaj
vti_timelastmodified:TR|15 Feb 2015 17:34:59 -0000
vti_timecreated:TR|29 Jan 2015 22:26:11 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{E80C2F2B-8FF1-46A4-AEAE-53522B3878BF}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|31 Jan 2015 18:26:25 -0000
vti_cacheddtm:TX|15 Feb 2015 17:34:59 -0000
vti_filesize:IR|3756
vti_cachedlinkinfo:VX|Q|http://fonts.googleapis.com/css S|../../images/general/dots.gif S|../../images/general/social.png S|../../images/general/social.png S|../../images/general/social.png S|../../images/general/social.png S|../../images/general/social.png S|../../images/general/social.png S|../../images/general/input.png S|../../images/general/input.png S|../../images/general/input.png
vti_cachedsvcrellinks:VX|NQHS|http://fonts.googleapis.com/css NSUS|webdev/images/general/dots.gif NSUS|webdev/images/general/social.png NSUS|webdev/images/general/social.png NSUS|webdev/images/general/social.png NSUS|webdev/images/general/social.png NSUS|webdev/images/general/social.png NSUS|webdev/images/general/social.png NSUS|webdev/images/general/input.png NSUS|webdev/images/general/input.png NSUS|webdev/images/general/input.png
