vti_encoding:SR|utf8-nl
vti_author:SR|CRYSTALTECH\\triciaj
vti_modifiedby:SR|CRYSTALTECH\\triciaj
vti_timelastmodified:TR|21 Feb 2015 15:20:54 -0000
vti_timecreated:TR|21 Feb 2015 15:09:09 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{4E60102A-2CFB-4376-ABC3-3A9A27CDA298}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|21 Feb 2015 15:20:30 -0000
vti_cacheddtm:TX|21 Feb 2015 15:20:54 -0000
vti_filesize:IR|1437
vti_cachedlinkinfo:VX|S|http://www.melissalouisedesign.com/webdev/lalanii/images/general/tinyeditorheaderbg.gif S|http://www.melissalouisedesign.com/webdev/lalanii/images/general/tinyeditoricons.png S|http://www.melissalouisedesign.com/webdev/lalanii/images/general/tinyeditoricons.png S|http://www.melissalouisedesign.com/webdev/lalanii/images/general/tinyeditorresize.gif
vti_cachedsvcrellinks:VX|NSHS|http://www.melissalouisedesign.com/webdev/lalanii/images/general/tinyeditorheaderbg.gif NSHS|http://www.melissalouisedesign.com/webdev/lalanii/images/general/tinyeditoricons.png NSHS|http://www.melissalouisedesign.com/webdev/lalanii/images/general/tinyeditoricons.png NSHS|http://www.melissalouisedesign.com/webdev/lalanii/images/general/tinyeditorresize.gif
